body {
    font: 24px Helvetica;
    background: #999999;
    max-height: 99%;
}

@mixin margin-information() {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: whitesmoke;
}
 
#main {
    height: 730px;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    -webkit-flex-flow: row;
            flex-flow: row;

    > article {
        @include margin-information;
        overflow:auto;
        -webkit-flex: 3 1 60%;
                flex: 3 1 60%;
        -webkit-order: 2;
                order: 2;
    }

    > nav {  
        @include margin-information;     
        -webkit-flex: 1 6 12%;
                flex: 1 6 12%;
        -webkit-order: 1;
                order: 1;
    }
    
}     
   header {
        @include margin-information;
        display: block;
        max-height: 170px;
    }

    footer {
        @include margin-information;
        display: block;
        min-height: 50px;
    }
  
   @media all and (max-width: 640px) {
   
    #main, #page {
     -webkit-flex-flow: column;
             flex-flow: column;
    }
 
    #main > article, #main > nav, #main > aside {
     -webkit-order: 0;
             order: 0;
    }
   
    #main > nav, #main > header, footer {
     min-height: 150px;
     max-height: 40px;
    }
   }